$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;
$lightContainerColor: #E7E8EF;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
    transition: all 0.3s ease;
}

.projects-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 10px 20px;

}

.projects-header {
    text-align: left;
    @extend %darkMode;
    width: 10%;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;

    transition: opacity 1s ease;
}

.projects-section.light .projects-header {
    @extend %lightMode;
}

.project-box {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: $darkModeBackground;
    border-radius: 10px;
    width: 100%;
    opacity: 0;
    transition: transform 0.3s ease, 
                box-shadow 0.3s ease,
                background-color 0.3s ease,
                opacity 0.5s ease;

}

.projects-section.light .project-box {
    background-color: $lightModeBackground;
}

.link {
    position: absolute;
    right: 15px;
    width: 25px;
    height: 25px;

    display: none;
    transition: filter 0.3s ease;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.project-box:hover .project-one,
.project-box:hover .project-two,
.project-box:hover .project-three {
    filter: grayscale(0);
}


.project-one {
    background-image: url("../../assets/Maison-D-thumbnail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);

    transition: filter 0.3s ease;
}

.project-two {
    background-image: url("../../assets/maison-d-staff-page-thumbnail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);

    transition: filter 0.3s ease;
}

.project-three {
    background-image: url("../../assets/QueueIt-Thumbnail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);

    transition: filter 0.3s ease;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.project-info h1 {
    color: $darkDefaultColor;
    transition: color 0.3s ease;
}

.project-info p {
    color: $darkModeCaptionColor;
    transition: color 0.3s ease;
}

.projects-section.light .project-info h1 {
    color: $lightModeHeaderColor;
}


.projects-section.light .project-info p {
    color: $lightDefaultColor;
}


.project-info {
    display: block;
    padding: 20px;
}

.additional-info {
    background-color: #444444;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.projects-section.light .additional-info {
    background-color: $lightContainerColor;
}

.role-status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.role-status p,
.role-status a {
    color: #7c7c7c;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: all 0.3s ease;
}

.role-status a {
    position: relative;
}

.role-status p:hover,
.role-status a:hover {
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.8);
    background-color: #777777;
    color: white;
}

.role-status a:hover .link{
    display: block;
}

.projects-section.light {
    .role-status p:hover,
    .role-status a:hover {
        background-color: #4361EE;
    }
}

.role-text {
    border-right: solid 1px rgba(255,255,255,0.3);
}

.project-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;

    height: 100%;
    padding: 0 40px;
    gap: 2rem;
}


/* SCROLL ANIMATIONS */

.projects-header.animate {
    opacity: 1;
    width: 100%;
    animation: slideInLeft 1s ease;
}

.project-box.animate {
    opacity: 1;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}

/* MOBILE */

@media (max-width: 720px) {
    .projects-section {
        gap: 10px;
        padding: 5px 10px;
    }
    
    .project-box {
        flex-direction: column;
        gap: 0px;
    }

    .link {
        display: inline;
    }

    .project-one,
    .project-two,
    .project-three {
        filter: grayscale(0);
    }

    .link {
        top: 325px;
    }

    .project-tags {
        padding: 20px;
        justify-content: flex-start;
    }

    .project-tags::-webkit-scrollbar {
        width: 10px;
    }

    .project-tags::-webkit-scrollbar-thumb {
        background-color: #777777;
        border-radius: 10px;
    }

    .role-status {
        justify-content: center;
    }

    .role-status p {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .role-status {
        flex-direction: column;
    }
    .role-text {
        border-right: none;
        border-bottom: solid 1px rgba(255,255,255,0.3);
    }
}