$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;
$darkContainerColor: #444444;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;
$lightContainerColor: #d9d9dd;
$lightImportantColor: #4361EE;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

.projects-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;

}

.projects-header {
    text-align: left;
    @extend %darkMode;
    width: 10%;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    opacity: 0;

    transition: opacity 1s ease, width 1s ease, background-color 0.3s ease;
}

.project-box {
    @extend %darkMode;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    opacity: 0;

    display: flex;
    flex-direction: row;
    overflow:hidden;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.project-description {
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-description h1 {
    border-bottom: 1px solid $darkDefaultColor;
    margin-bottom: 5px;
}

.project-description p {
    color: $darkModeCaptionColor;
    font-size: 0.8rem;
}

.project-description a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $darkContainerColor;
    border-radius: 10px;
    padding: 15px 10px;
    gap: 5px;
    text-decoration: none;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

.project-description a:hover {
    background-color: $darkModeCaptionColor;
}

.tools img,
.project-description img {
    width: 25px;
}

#github-link {
    background-color: transparent !important;
    border: solid 1px $darkDefaultColor;
    transition: all 0.3s ease;
}

#github-link:hover {
    background-color: $darkModeCaptionColor !important;
    border: none;
}

.tools {
    padding: 5px;
    width: 100%;
    display: flex;
    gap: 5px;
}

/* THUMBNAILS */

.project-one,
.project-two,
.project-three,
.project-four {
    filter: grayscale(1);
    width: 65%;
    transition: all 0.3s ease;
}

.project-box:hover {
    .project-one,
    .project-two,
    .project-three,
    .project-four {
        filter:grayscale(0);
    }
}

.project-one {
    background: url("../../assets/Maison-D-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-two {
    background: url("../../assets/maison-next.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-three {
    background: url("../../assets/Pacot-Portfolio-Thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* LIGHT MODE */

.projects-section.light {
    .projects-header,
    .project-box {
        @extend %lightMode;
    }

    .project-description a {
        background-color: $darkModeCaptionColor;
    }

    .project-description h1 {
        border-bottom: solid 1px $lightDefaultColor;
    }

    #github-link:hover,
    .project-description a:hover {
        background-color: $lightImportantColor !important;
    }

    #github-link {
        background-color: $lightContainerColor !important;
    }
}



/* SCROLL ANIMATIONS */

.projects-header.animate {
    opacity: 1;
    width: 100%;
    animation: slideInLeft 1s ease;
}

.project-box.animate {
    opacity: 1;
    animation: slideInRight 1s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}

/* MOBILE */

@media (max-width: 720px) {
    .projects-section {
        gap: 10px;
        padding: 5px 10px;
    }

    .project-box {
        height: fit-content;
        flex-direction: column;
    }
    .project-one,
    .project-two,
    .project-three,
    .project-four {
        filter: grayscale(0);
        width: 100%;
        height: 200px;
        transition: all 0.3s ease;
    }
    .project-description {
        width: 100%;
    }
}