.sub-hero-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 15px
}

.container {
    background-color: #2B2B2B;
    border-radius: 20px;
    flex: 1;
    transition: all 0.3s ease;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container:hover{
    flex: 2;
}

.container p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.container span {
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
}

.container:hover p {
    transform: scale(1.5);
}

/* MOBILE */

@media(max-width: 720px) {
    
}
