$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

.sub-hero-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 20px
}

.container {
    @extend %darkMode;
    border-radius: 20px;
    flex: 1;
    transition: all 0.3s ease;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-hero-section.light .container {
    @extend %lightMode;
}

.container:hover{
    flex: 2;
}

.container p {
    color: $darkDefaultColor;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.sub-hero-section.light .container p {
    color: $lightModeHeaderColor;
}

.container span {
    color: $darkModeCaptionColor;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
}

.sub-hero-section.light .container span {
    color: $lightDefaultColor;
}

.container:hover p {
    transform: scale(1.5);
}

/* MOBILE */

@media(max-width: 720px) {
    .sub-hero-section {
        gap: 10px;
        padding: 5px 10px;
    }
    .container {
        border-radius: 10px;
    }
}
