

.insight-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.insight-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    padding-right: 50px;
}

.insight-details p{
    color: white;
    text-align: left;
    font-size: 1.5rem;
}

.insight-details span {
    color: #8BC34A;
    font-weight: bold;
}

.insight-image {
    padding: 10px;
    background-color: #2B2B2B;
    border-radius: 20px;
    border: solid 2px #8BC34A;
    box-shadow: 0 1px 10px #8BC34A;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.insight-image img {
    width: clamp(300px, 30vw, 500px);
    border-radius: 10px;
}

.insight-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.multiple-devices,
.approval {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.multiple-devices img,
.approval img {
    width: clamp(50px, 15vw, 80px);
}

/* SCROLL ANIMATION */

.insight-details.animate {
    animation: insightAnimationOne 1s ease;
}

.insight-tags.animate {
    animation: insightAnimationTwo 2s ease;
}

.insight-image.animate {
    animation: insightAnimationThree 2s ease;
}

@keyframes insightAnimationOne {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes insightAnimationTwo {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes insightAnimationThree {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 900px) {
    .insight-section {
        padding: 100px 50px;
    }

    .insight-details p {
        font-size: 1.2rem;
    }

    .insight-tags img {
        width: 60px;
    }
}
/* MOBILE */

@media (max-width: 720px) {
    .insight-details {
        padding: 0px;
    }

    .insight-details p {
        text-align: center;
    }

    .insight-section {
        padding: 100px 20px;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .insight-image img,
    .insight-image {
        width: 100%;
    }
}