.hero-section {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 100px 0px;
    background-image: url("../../assets/DJI_0217.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: fadeInBg 1.5s ease-in forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero-section h1{
    color: white;
    font-family: 'Oooh Baby','cursive';
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
}

.hero-section a {
    background-color: transparent;
    padding: 15px 40px;
    border: solid 1px white;
    cursor: pointer;
    position: relative;
    top: 30px;

    color: white;
    transition: all 0.3s ease;
}

.hero-section button:hover {
    transform: scale(1.1);
}

.summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 50px;
}

.summary-box {
    background-color: transparent;
    border: solid 1px rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-box p {
    color:rgb(184, 184, 184);
    font-size: 0.8rem;
}

.summary-box span {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

@keyframes fadeInBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes easeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        tranform: translateY(0px);
    }
}

/* MOBILE */

@media(max-width:720px) {
    .hero-section {
        
    }
}