$darkColor: #2b2b2b;
$mildDark: #9E9E9E;
$lightColor: #fff;
$lighterColor: #D9D9D9;
$defaultBorderRadius: 10px;

$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;
$lightCaptionColor: #8C8F9F;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightModeOne {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

%lightModeTwo {
    background: $lightModeBackground;
    color: $lightCaptionColor;
}

.skills-section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    padding: 10px 20px;
    color: $lightColor;

    width: 100%;
    height: fit-content;
}


.skills-header {
    grid-row: 1 / 2 ;
    grid-column: 1 / 3;
    width: 20%;
    height: 40px;
    border-radius: $defaultBorderRadius;
    padding: 10px 30px;
    text-align: left;
    background-color: $darkColor;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.skills-section-grid.light .skills-header {
    @extend %lightModeTwo;
    transition: background-color 0.3s ease;
}

.skills-header,
.skills-header button {
    opacity: 0;
    font-family: inherit;
    color: $lightColor;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 5px;
    
    transition: opacity 1s ease;
}

.skills-section-grid.light .skills-header button {
    color: $lightCaptionColor;
}

.skills-header button {
    opacity: 1;
}

.skills-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

.skills-header button img {
    width: 30px;
}

.skills-section-grid.light .skills-header button img {
    filter: invert(1);
}

.experience img,
.tech-stack img,
.skills img {
    width: 50px;
    transition: all 0.3s ease;
}

.skills-section-grid.light {
    .experience img,
    .tech-stack img,
    .skills img {
        filter: invert(1);
    }
}

.tech-tools img {
    filter: invert(0) !important;
    width: 50px;
}

.experience,
.tech-stack,
.skills {
    opacity: 0;
    padding: 25px;
    border-radius: $defaultBorderRadius;
    background-color: $darkColor;
    transition: opacity 1s ease;
}

.skills-section-grid.light .experience,
.skills-section-grid.light .tech-stack,
.skills-section-grid.light .skills {
    @extend %lightModeOne;
    transition: background-color 0.3s ease;
}

.experience h1,
.tech-stack h1,
.skills h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    
    font-size: 1.5rem;
}

.experience {
    grid-column: 1 / 2;
    grid-row:  2 / 4 ;
    position: relative;
}

.tech-stack {
    grid-column: 2 / 3;
    grid-row: 2 / 2;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.timeline-content {
    width: 100%;
}

.timeline-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.timeline-dot {
    width: 12px;
    height: 12px;
    background-color: $lightColor;
    border-radius: 50%;

    transition: background-color 0.3s ease;
}

.branchLine {
    background-color: rgba(255,255,255,0.5);
}

.skills-section-grid.light .branchLine {
    background-color: $lightDefaultColor;
    opacity: 25%;
}

.skills-section-grid.light .timeline-dot {
    background-color: $lightDefaultColor;
}


.tech-tools {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.skills-value {
    background-color: $lightColor;
    color: $darkColor;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.skills-section-grid.light .skills-value:hover {
    color: $lightColor;
    background-color: #4361EE;
}

.skills-value:hover {
    transform: translateY(-5px);
}

.skills-value p {
    font-size: 1rem;
}

/* MODAL */

.character-info-modal-overlay {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    padding: 20px;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    animation: Modal 0.5s ease;
}

.modal-container {
    position: relative;
    background: $darkColor;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: $defaultBorderRadius;
    gap: 20px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.3s ease;
}

.skills-section-grid.light .modal-container {
    @extend %lightModeOne;
}

.modal-container::-webkit-scrollbar {
    width: 10px;
}

.modal-container::-webkit-scrollbar-thumb {
    background-color: $lighterColor;
    border-radius: $defaultBorderRadius;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.profile-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 50px;
}

.download-resume-btn {
    text-decoration: none;
    color: $darkColor;
    background-color: $lighterColor;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Nunito','sans-serif';
}

.modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-body h1 {
    font-weight: normal;
    border-bottom: solid 1px $darkDefaultColor;
    transition: border-bottom 0.3s ease;
}

.skills-section-grid.light .modal-body h1 {
    border-bottom: solid 1px $lightDefaultColor;
}

.modal-skills-section span,
.add-info-section span,
.modal-body p {
    font-weight: normal;
    color: $mildDark;
    text-align: justify;
}

.education-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.education-section span {
    position: absolute;
    right: 20px;
}

.close-btn {
    position: absolute;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}



@keyframes Modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* SCROLL ANIMATIONS */


.skills-header.animate {
    opacity: 1;
    width: 100%;
    animation: slideInLeft 0.5s ease;
}

.experience.animate {
    opacity: 1;
    animation: slideInLeft 1s ease;
}

.tech-stack.animate {
    opacity: 1;
    animation: slideInRight 1s ease;
}

.skills.animate {
    opacity: 1;
    animation: slideInRight 1.5s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
    }
}

/* MOBILE */
@media (max-width: 720px) {
    .skills-section-grid {
        gap: 10px;
        padding: 5px 10px;
    }
}

@media(max-width: 560px) {
    .experience {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }.tech-stack {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .skills {
        grid-column: 1 / 3;
        grid-row: 5 / 5;
    }

    .modal-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-information {
        padding-right: 0px;
    }
    
    .modal-body {
        gap: 10px;
    }

    .modal-body h1 {
        font-size: 1.3rem;
    }

    .education-section span {
        right: 0px;
    }

    .modal-body h3,
    .modal-body p {
        font-size: 0.8rem;
    }
}