$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

.about-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px;
    position: relative;

    transition: all 0.3s ease;
}

.profile-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 400px;
}

.profile-description p {
    color: $darkDefaultColor;
    font-weight: 300;
}

.about-section.light .profile-description p {
    color: $lightDefaultColor;
}

.about-section.light .profile-description img {
    filter: invert(1);
}

.key-expertise {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    gap: 15px;
}   

.tab-value {
    border-radius: 1000px;
    padding: 10px 20px;
    @extend %darkMode;
    width: fit-content;
    max-height: 60px;

    display: flex;
    align-items: center;
    gap: 15px;

    transition: all 0.3s ease;
}

.tab-value div {
    background: rgba(25,25,25);
    transition: background 0.3s ease;
}

.about-section.light .tab-value div {
    background: #E7E8EF;
}

.about-section.light .tab-value {
    @extend %lightMode;
}

.tab-value:hover {
    transform: translateY(-5px);
}

#modelOne,
#modelTwo {
    position: absolute;
}

#modelOne {
    right: 20px;
    top: 65px;
    width: 250px;
}

#modelTwo {
    right: 150px;
    top: 150px;
    width: 200px;
}

/* MOBILE */

@media (max-width: 720px) {
    #modelOne,
    #modelTwo {
        display: none;
    }
    
    .profile-description {
        padding: 0px;
    }

    .key-expertise {
        width: 100%;
    }
    
    .about-section {
        padding: 100px 20px;
    }
}