$darkModeBackground: #2B2B2B;
$darkModeCaptionColor: #9E9E9E;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightModeHeaderColor: #34363F;
$lightDefaultColor: #565863;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

.about-section {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px 20px;

    transition: all 0.3s ease;
}

.profile-description {
    grid-area: 1 / 1 / 4 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $darkModeBackground;
    padding: 200px 50px;
    border-radius: 15px;
    gap: 30px;

    transition: all 0.3s ease;
}

.profile-picture {
    position: relative;
    overflow: hidden;
    background: $darkModeBackground;
    border-radius: 15px;
    grid-area: 1/4/4/6;
    transition: all 0.3s ease;
}

.profile-description p {
    color: $darkDefaultColor;
    font-weight: 300;
    font-size: 1.5rem;
}

#modelOne,
#modelTwo {
    position: absolute;
}

#modelTwo {
    bottom: 10px;
    left: 100px;
}

#modelOne {
    bottom: 10px;
    right: 30px;
    width: 300px;
}

//LIGHT MODE

.about-section.light {
    .profile-picture,
    .profile-description {
        @extend %lightMode;
    }
    .profile-description p {
        color: $lightModeHeaderColor;
    }
    .profile-description img {
        filter: invert(1);
    }
}


/* MOBILE */

@media (max-width: 720px) {
    .about-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 5px 10px;
        gap: 10px;
    }
    .profile-description {
        padding: 100px 50px;
        grid-area: 2/1/4/3;
    }
    .profile-description p {
        font-size: 1rem;
        text-align: justify;
    }
    .profile-picture {
        grid-area: 1/1/2/3;
    }
    #modelOne{
        width: 200px;
        top: 25px;
        right: 10%;
    }
    #modelTwo {
        width: 200px;
        top: 25px;
        left: 10%;
    }
}