.contact-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
}

.contact-details,
.contact-header,
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contact-form {
    opacity: 0;
    padding-left: 100px;
    gap: 25px;
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.contact-header p{
    color: #9E9E9E;
    text-align: left;
    letter-spacing: 1px;
}

.contact-details {
    width: 100%;
    align-items: center;
    font-weight: normal;
    color: white;
    font-size: 1rem;
}

.contact-details p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-details p img {
    width: 30px;
}

.contact-header h1 {
    font-family: 'Oooh baby','sans-serif';
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.form-message::placeholder,
.form-name,
.form-email {
    font-family: 'Nunito','sans-serif';
    color: white;
    font-size: 14px;
}

.form-message,
.contact-form input,
.contact-form button {
    width: 100%;
    padding: 20px;
    background: linear-gradient(
        to right,
        #2B2B2B,
        #191919
    );
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Nunito','sans-serif';
    color: white;
    font-size: 14px;
    resize: none;
}

.contact-form button {
    cursor: pointer;
    text-align: left;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 5px;

    transition: transform 0.3s ease;
}

.contact-form button:hover {
    transform: translateX(-10px);
}

.contact-form button img {
    width: 20px;
}

.form-message {
    height: 200px;
}

.form-name,
.form-email {
    position: relative;
    width: 100%;
}

.form-name label,
.form-email label {
    position: absolute;
    top: 20px;
    left: 15px;

    transition: all 0.3s ease;
}

.form-name input:focus + label,
.form-email input:focus + label,
.form-name input:not(:placeholder-shown) + label, 
.form-email input:not(:placeholder-shown) + label {
    top: -21px;
    font-size: 12px;
    letter-spacing: 2px;
}


/* SCROLL ANIMATIONS */

.contact-form.animate {
    opacity: 1;
    animation: slideInRight 1s ease;
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}

/* MOBILE */

@media (max-width:720px) {
    .contact-section {
        flex-direction: column;
        gap: 20px;
    }

    .contact-information {
        gap: 20px;
    }

    .contact-header h1 {
        font-size: 2.5rem;
    }

    .contact-details p,
    .contact-header p {
        font-size: 0.8rem;
    }

    .contact-details p img {
        width: 20px;
    }

    .contact-form {
        padding: 0 20px;
    }

    .form-name input,
    .form-email input,
    .form-message,
    .contact-form button {
        background: #2B2B2B;
    }

    .contact-form button:hover {
        transform: translateY(-10px);
    }
}