$darkModeBackground: #2B2B2B;
$darkDefaultColor: white;


$lightModeBackground: #F4F5F9;
$lightDefaultColor: #565863;

%darkMode {
    background: $darkModeBackground;
    color: $darkDefaultColor;
    transition: all 0.3s ease;
}

%lightMode {
    background: $lightModeBackground;
    color: $lightDefaultColor;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.navbar-container {
    @extend %darkMode;
    width: 100%;
    height: 70px;

    position: fixed;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}

.nav-wrapper.light .navigation a,
.nav-wrapper.light .navbar-container {
    @extend %lightMode;
}

.logo {
    width: 30px;
}

.social-media-icons {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30px;

    border-left: solid 1px $darkDefaultColor;
}

.nav-wrapper.light .social-media-icons {
    border-left: solid 1px $lightDefaultColor;
}

.social-media-icons img {
    opacity: 30%;
    width: 30px;
    transition: all 0.3s ease;
}

.nav-wrapper.light .menu-icon,
.nav-wrapper.light .social-media-icons img {
    filter: invert(1);
}

.social-media-icons img:hover {
    opacity: 100%;
}

.navigation,
.nav-tabs {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation a {
    @extend %darkMode;
    display: flex;
    flex-direction: column-reverse;
}

.underline {
    background: $darkDefaultColor;
    height: 1px;
    width: 0%;
    transition: all 0.5s ease;
}

.nav-wrapper.light .underline {
    background: $lightDefaultColor;
}

.navigation a:hover .underline{
    width: 100%;
}

.logo {
    filter: grayscale(1);
    transition: all 0.3s ease;
}

.logo:hover {
    filter:grayscale(0);
}

/* SCROLLED NAVBAR */

.navbar-container.scrolled {
    @extend %darkMode;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    top: 15px;
    height: 50px;
    width: 60%;
    max-width: 125px;
    border-radius: 1000px;
    align-items: center;
    justify-content: space-around;
    border: none;
    overflow: hidden;

    transition: all 0.3s ease;
}

.menu-icon,
.menu-divider,
.navbar-container.scrolled:hover .menu-icon,
.navbar-container.scrolled .social-media-icons,
.navbar-container.scrolled .navigation {
    display: none;
}

.navbar-container.scrolled:hover .navigation,
.navbar-container.scrolled .menu-divider,
.navbar-container.scrolled .menu-icon {
    display: flex;
}

.navbar-container.scrolled .logo {
    width: 20px;
}

.navbar-container.scrolled:hover {
    width: 90%;
    max-width: 400px;
}

/* MOBILE */

@media (max-width:720px) {
    .social-media-icons {
        display: none;
    }

    .navigation,
    .nav-tabs {
        gap: 15px;
    }
}