/* NUNITO FONT */
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* OOOH BABY FONT */
@font-face {
  font-family: 'Oooh Baby';
  src: url('./assets/fonts/OoohBaby-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* MONTSERRAT FONT */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  transition: background 0.3s ease;
}

strong {
  font-weight: 800;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}
